body {
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
    background-attachment: fixed;
    margin: 60px auto;
    max-width: 800px;
    font-family:cursive
}
  

h1 {
    text-align: center;
    font-size: 60px;
    box-shadow: 10px 5px 5px red;
    border-radius: 10px;
    border: 1px solid black;
    
}

p {
    text-align: center;
    font-size: 25px;
    margin: 20px 16px;
    padding: 20px 10px 
   
}

a {
 margin: 20px;
 border-radius: 5px;
 padding: 20px 15px;
 text-decoration: none;
 text-transform: capitalize;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.photo-link {
    background: #f94545;
    color: black;
    border: 1px solid black;
    box-shadow: 10px 5px 5px red;

}

.contact-link {
    background: #f94545;
    color: black;
    border: 1px solid black;
    box-shadow: 10px 5px 5px red;
}

.home-link {
    background: #f94545;
    color: black;
    border: 1px solid black;
    box-shadow: 10px 5px 5px red;  
}

img {
    display: inline-block;
    padding: 10px 100px;
    max-width: 600px;
    border-radius: 10px;
    border: 2px solid black;
}
